@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.text-white.fs-2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.left-box {
    background: #103cbe;
    color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
}

.text-wrap.text-center {
    width: 17rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.box-area {
    width: 930px;
}

.right-box {
    padding: 2.5rem 2rem;
}

input::placeholder {
    font-size: 16px;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 30px;
}

@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;
    }
    .left-box {
        height: 100px;
        overflow: hidden;
        padding: 1rem;
    }
    .right-box {
        padding: 1.5rem;
    }
}
